#viewport {
  display: flex;
  align-items: flex-start;
}

.kvfysmfp {
  width: 100%;
}
.fileUp {
  max-width: 100% !important;
  min-width: 100% !important;
  border: solid 1px #0658c2 !important;
  border-radius: 0px !important;
  height: 100% !important;
  width: 100% !important;
  padding: 0px !important;
}
.fileUp > svg {
  width: 74px !important;
  height: 74px !important;
}
.file-types {
  font-size: 24px !important;
  width: 100%;
  max-width: 100% !important;
}
.fDoQYg {
  display: flex !important;
  justify-content: center !important;
  flex-direction: column !important;
  align-content: center !important;
  align-items: stretch !important;
}
.cgTcOH {
  font-size: 24px !important;
}
.file-info {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.img-view {
  width: 100%;
  height: 100%;
  border-radius: 1px;
  display: block;
  border: 1px solid;
}

.file-uploaded {
  position: relative;
  height: 100%;
  text-align: end;
}
.text-align-end {
  text-align: end;
}
.text-align-start {
  text-align: start;
}
.file-uploaded:hover .iconInfo {
  display: block;
  cursor: pointer;
}

.iconInfo {
  display: none;
}

.right-align {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 45px;
  height: 45px;
}
.left-align {
  position: absolute;
  top: 0px;
  left: 0px;
}

.left-panel {
  padding: "10px 10px 10px 10px";
  box-shadow: "inset 0px 0px 4px 0px #888888";
}
.middle-screen {
  display: "flex";
  justify-content: "center";
  align-items: "center";
  text-align: "center";
  box-shadow: "inset 0px 0px 4px 0px #888888";
  overflow: "hidden";
  background-color: "#00000030";
}
.label-icon {
  display: "flex";
  justify-content: "space-between";
  align-items: "center";
  margin: "2px";
}
.cursor-pointer {
  cursor: pointer;
}
.file-uploaded-grid {
  padding: 0px;
  margin: 0px;
  /* width: 100%;
  height: auto; */
  /* border: 1px solid #000; */
  width: 350px;
  height: 350px;
  /* max-width: 100% !important; */
}

.bgColorMain {
  background-color: #add8e6;
  padding: 5px;
}

.zooming-content {
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.img-viewer {
  position: relative;
  flex-grow: 1;
  align-self: center;
  height: 0;
  width: 80%;
  cursor: grab;
  border: 2px solid red;
}
.img-viewer > div {
  height: 100%;
}

.movable-table {
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  background-color: #ffe7ab2b;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.zooming-content {
  width: inherit;
}

.horizontal-angle {
  width: 65%;
  height: 35%;
}
.vertical-angle {
  width: 35%;
  height: 65%;
}
.droppable-top-penal {
  min-height: 60px;
  max-height: 60px;
}
.top-penal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 60px;
  max-height: 60px;
}
/* 
#band #viewport div:first-child {
  transform: matrix(1, 0, 0, 1, 0, 0) !important;
} */

.video-container {
  width: 100%;
  height: 100%;
  max-height: 100%;
  position: relative;
}
.video-content {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  max-height: 100%;
  min-height: 100%;
  max-width: 100%;
  min-width: 100%;
}
.pdf-container {
  width: 100%;
  height: 100%;
}
.container-view {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  background-color: #76001c61;
  color: #000;
}
.container-view:hover .iconInfo {
  display: block;
  cursor: pointer;
}
.file-image {
  height: 100%;
  width: 100%;
}
.file-pdf {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  background-color: #fff;
}
.marquee-main {
  position: relative;
  height: 100%;
  width: 100%;
}
.marquee-main:hover .marquee-edit-icon {
  display: block;
  cursor: pointer;
}
.marquee-main:hover .marquee-close-icon {
  display: block;
  cursor: pointer;
}
.marquee-edit-icon {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 30px;
  display: none;
}

.marquee-close-icon {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 30px;
  display: none;
}
.main-controller {
  width: 100%;
  height: 100%;
  position: relative;
}
.main-controller:hover .close-icon {
  display: block;
  cursor: pointer;
}
.close-icon {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 30px;
  display: none;
}

.marquee-uploader-main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  cursor: pointer;
}
.marquee-content-info {
  font-size: 35px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.marquee-uploader-main:hover .marquee-close-icon {
  display: block;
  cursor: pointer;
}
